<div>
    <h1>{{ title }}</h1>
    <app-pipe-example></app-pipe-example>
    <img width="150" height="150" alt="Image example" src="assets/images/image.jpg" />
    <!-- Пример передачи пропа в дочерний компронент -->
    <!-- <app-user-card [name]="name" [email]="email"></app-user-card> -->

    <!-- Пример цикла в разметке -->
    <!-- Важно указать униклаьный идентификатор используя track - значение (аналог key)-->

    @for(user of users; track user.id){
    <app-user-card [name]="user.name" [email]="user.email"></app-user-card>
    }

    <!-- Условное ветвление -->
    @if(number > 10){
        <app-number-card [number]="number"></app-number-card>
    }
    @else if (number === 10){
        <h2>Число равно 10</h2>
    }
    @else {
        <h2>Число меньше 10</h2>
    }

    <!-- Пример динамики в классе (байндинг) -->
    <h2 [class]="themeClass">Class example</h2>

    <!-- Пример работы над style -->
    <h2 [style.color]="'blue'">Style example #1</h2>
    <h2 [style.fontSize.px]="(number > 10) ? 50 : 100">Style example #2</h2>

    <!-- Пример демонстрации NgStyle (обязательно импортируем в компонент) для работы с несколькоими стилями -->
    <h2 [ngStyle]="{'color': (number > 10) ? 'red': 'purple', 'padding': '20px'}">
        Style example #3
    </h2>
</div>